@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: #232323; */
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.container .right {
  width: 75vw;
  margin: 16px 0;
}

.home {
  padding: 10px;
}

.home ul li {
  width: 15px;
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 14px;
  font-weight: bold;
}

.home .logo {
  position: relative;
  display: flex;
  gap: 2px;
  left: 6px;
  align-items: center;
}

.heading {
  width: 100%;
  display: flex;
  gap: 15px;
  font-weight: bold;
  align-items: center;
  padding: 23px 14px;
  font-size: 13px;
}

.heading img {
  max-width: 25px;
}

.library {
  min-height: 75vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  gap: 13px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(35, 35, 35);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.spotifyPlaylists .card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card > * {
  padding-top: 6px;
}
